on:
  pull_request:
  push:
    branches: [main]

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3

      - run: terraform init
      - run: terraform plan
        if: github.event_name == 'pull_request'

      - run: terraform apply -auto-approve
        if: github.ref == 'refs/heads/main'
